.dialog {
  margin: 15vh auto;
  background: transparent;
  border: 1px solid aliceblue;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.66);
}

.dialog-heading {
  color: aliceblue;
  font-size: 1.25rem;
  font-weight: 900;
  margin: 0;
  letter-spacing: 0.5px;
}

.project-input {
  padding: 0.625rem 0.75rem;
  background: #2a2a2a;
  border: 1px solid #3a3a3a;
  color: aliceblue;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease;
  letter-spacing: 1px;
  border-radius: 6px;
}

.project-input:focus {
  border-color: rgb(0, 255, 0);
}

.btns-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.close-btn,
.save-btn {
  padding: 0.2rem 1rem;
  background-color: transparent;
  border: 1px solid transparent;
}

.close-btn {
  color: red;
}

.close-btn:hover {
  border: 1px solid red;
}

.save-btn {
  color: rgb(0, 255, 0);
}

.save-btn:hover {
  border: 1px solid rgb(0, 255, 0);
}

.close-btn:active,
.save-btn:active {
  opacity: 0.8;
}
